body {
    background-color: #304260;
}

.container {
    text-align: center;
}

.hero-image {
    height:100vh;
    background: url('images/hero-image.jpg');
    background-size:cover;
    position:relative;
}

.button {
    background-color: #012663;
    border: black;
    color: black;
}

#hidden {
    visibility: hidden;
}